<section class="page-background d-flex flex-column align-items-center justify-content-center">
    <h2>Next start of SpaceX mission in UTC time:</h2>
    <div class="flex-column flex-sm-row counter-container justify-content-center" [ngClass]="[counterState == true ? 'd-flex' : 'd-none']">
        <div><span>{{days}}</span>days</div>
        <div><span>{{hours}}</span>hours</div>
        <div><span>{{minutes}}</span>minutes</div>
        <div><span>{{seconds}}</span>seconds</div>
    </div>
    <div class="flex-column flex-sm-row counter-container counter-container-empty justify-content-center" [ngClass]="[counterState == true ? 'd-none' : 'd-flex']">
        <div><span>__</span>days</div>
        <div><span>__</span>hours</div>
        <div><span>__</span>minutes</div>
        <div><span>__</span>seconds</div>
    </div>
</section>