<section class="page-background d-flex align-items-center justify-content-center">
    <div class="container row">
        <div class="col-12 col-lg-5 d-flex align-items-start flex-column roadster-text">
            <h2>{{data.name}}</h2>
            <div class="">{{data.details}}</div>
            <div>Current distance to earth: <span>{{data.earth_dist | number:'1.0-3'}} km</span></div>
            <div>Current distance to mars: <span>{{data.mars_dist | number:'1.0-3'}} km</span></div>
            <div>Current speed: <span>{{data.speed_kph | number:'1.0-3'}} km</span></div>
        </div>
        <div class="col-12 col-lg-5 roadster-carousel">
            <ngb-carousel *ngIf="data.images">
                <ng-template ngbSlide *ngFor="let image of data.images">
                    <img [src]="image" />
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</section>