<div class="container mb-5 pb-5">
    <div *ngIf="!datas" class="mt-5 display-5 text-center blinking">
       Waiting for data... 
    </div>
    <div class="row mt-3 mb-2 pb-3 text-center title-bold" style="border-bottom: 2px solid black" *ngIf="datas">
        <div class="col-1">Flight number</div>
        <div class="col-2">Mission name</div>
        <div class="col-3">Details</div>
        <div class="col-2">Launch date - UTC time</div>
        <div class="col-4">Links to images</div>
    </div>
    <div *ngFor="let data of datas" class="row border-bottom mb-2 pb-2">
        <div class="col-1 text-center">{{data.flight_number}}</div>
        <div class="col-2 text-center">{{data.mission_name}}</div>
        <div class="col-3">{{data.details}}</div>
        <div class="col-2 d-flex flex-column text-center">
            <div>{{data.launch_date_utc | date:'mediumDate'}}</div>
            <div>{{data.launch_date_utc | date:'mediumTime'}}</div>
        </div>
        <div class="col-4 d-flex flex-column">
            <div *ngFor="let link of data.links.flickr_images">
                <a href="{{link}}" target="_blank">{{link}}</a>
            </div>
        </div>
    </div>
</div>